[Desktop Entry]
Name=FolderView
Encoding=UTF-8
Version=1.0
Type=Application
Exec= python2 -u /usr/share/screenlets/screenlets-pack-basic/FolderView/FolderViewScreenlet.py
Icon=/usr/share/screenlets/screenlets-pack-basic/FolderView/icon.png
NoDisplay=true