[Desktop Entry]
Name=FreemeteoWeather
Encoding=UTF-8
Version=1.0
Type=Application
Exec= python2 -u /usr/share/screenlets/screenlets-pack-basic/FreemeteoWeather/FreemeteoWeatherScreenlet.py
Icon=/usr/share/screenlets/screenlets-pack-basic/FreemeteoWeather/icon.svg
NoDisplay=true