[Desktop Entry]
Name=MailCheck
Encoding=UTF-8
Version=1.0
Type=Application
Exec= python2 -u /usr/share/screenlets/screenlets-pack-basic/MailCheck/MailCheckScreenlet.py
Icon=/usr/share/screenlets/screenlets-pack-basic/MailCheck/icon.svg
NoDisplay=true