[Desktop Entry]
Name=Meter
Encoding=UTF-8
Version=1.0
Type=Application
Exec= python2 -u /usr/share/screenlets/screenlets-pack-basic/Meter/MeterScreenlet.py
Icon=/usr/share/screenlets/screenlets-pack-basic/Meter/icon.svg
NoDisplay=true