[Desktop Entry]
Name=Ruler
Encoding=UTF-8
Version=1.0
Type=Application
Exec= python2 -u /usr/share/screenlets/screenlets-pack-basic/Ruler/RulerScreenlet.py
Icon=/usr/share/screenlets/screenlets-pack-basic/Ruler/icon.svg
NoDisplay=true