[Desktop Entry]
Name=Sticker
Encoding=UTF-8
Version=1.0
Type=Application
Exec= python2 -u /usr/share/screenlets/screenlets-pack-basic/Sticker/StickerScreenlet.py
Icon=/usr/share/screenlets/screenlets-pack-basic/Sticker/icon.svg
NoDisplay=true