[Desktop Entry]
Name=Trash
Encoding=UTF-8
Version=1.0
Type=Application
Exec= python2 -u /usr/share/screenlets/screenlets-pack-basic/Trash/TrashScreenlet.py
Icon=/usr/share/screenlets/screenlets-pack-basic/Trash/icon.png
NoDisplay=true