[Desktop Entry]
Name=Webframe
Encoding=UTF-8
Version=1.0
Type=Application
Exec= python2 -u /usr/share/screenlets/screenlets-pack-basic/Webframe/WebframeScreenlet.py
Icon=/usr/share/screenlets/screenlets-pack-basic/Webframe/icon.png
NoDisplay=true