[Desktop Entry]
Version=1.0
Name=Activity Log Manager
Name[af]=Aktiwiteitslog Bestuurder
Name[ar]=مدير سجل النشاط
Name[ast]=Xestor del rexistru d'actividá
Name[az]=Aktivlik İzləri İdarəedicisi
Name[bg]=Мениджър на записа на дейностите
Name[bn]=কার্যকলাপ লগ ম্যানেজার
Name[bs]=Upravnik dnevnika aktivnosti
Name[ca]=Gestor de l'historial d'activitats
Name[ca@valencia]=Gestor de l'historial d'activitats
Name[cs]=Správce záznamu činností
Name[da]=Aktivitetsloghåndtering
Name[de]=Aktivitätsprotokollverwaltung
Name[el]=Διαχειριστής καταγραφών δραστηριοτήτων
Name[en_AU]=Activity Log Manager
Name[en_CA]=Activity Log Manager
Name[en_GB]=Activity Log Manager
Name[eo]=Mastrumilo de protokolo pri agado
Name[es]=Gestor del registro de actividad
Name[et]=Tegevuste logi haldur
Name[eu]=Jarduera-egunkariaren kudeatzailea
Name[fi]=Toimintalokien hallinta
Name[fr]=Gestionnaire de journal d'activité
Name[fr_CA]=Gestionnaire de journal d'activités
Name[gd]=Loga manaidsear na gnìomhachd
Name[gl]=Xestor de rexistro de actividade
Name[he]=מנהל יומן פעילות
Name[hi]=गतिविधि अभिलेख प्रबंधक
Name[hr]=Upravitelj zapisa aktivnosti
Name[hu]=Aktivitásnapló-kezelő
Name[id]=Pengelola Log Aktivitas
Name[it]=Gestore registro attività
Name[ja]=アクティビティログマネージャー
Name[km]=កម្មវិធី​គ្រប់គ្រង​កំណត់​ហេតុ​សកម្មភាព
Name[ko]=활동 기록 관리자
Name[ku]=Midurê rojane ê çalak
Name[lt]=Veiklos žurnalo tvarkytuvė
Name[lv]=Darbību žurnāla pārvaldnieks
Name[ms]=Pengurus Log Aktiviti
Name[my]=ပြုလုပ်ချက် စာရင်း ထိန်းချုပ်မှု
Name[nb]=Aktivitetslogg-behandler
Name[nl]=Beheer van activiteitenlogboek
Name[oc]=Gestionari de jornal d'activitat
Name[pl]=Menedżer dziennika aktywności
Name[pt]=Gestor dos Registos de Actividade
Name[pt_BR]=Gerenciador de Registro de Atividade
Name[ro]=Administrator rapoarte activitate
Name[ru]=Диспетчер событий активности
Name[si]=කාර්ය ලඝු කළමනාකරු
Name[sk]=Správca záznamov o aktivite
Name[sl]=Upravljalnik dnevnika dejavnosti
Name[sq]=Menaxhuesi i Mesazheve të Veprimtarisë
Name[sr]=Управник дневника активности
Name[sv]=Hantera aktivitetslogg
Name[ta]=நடவடிக்கை பதிவு மேலாளர்
Name[te]=కార్యకలాప చిట్టా నిర్వాహకం
Name[tg]=Мудири сабти рӯйдодҳои фаъолият
Name[tr]=Etkinlik Günlüğü Yöneticisi
Name[ug]=مەشغۇلات خاتىرىسى باشقۇرغۇ
Name[uk]=Менеджер журналу активності
Name[uz]=Журнал бошқарувчисини фаоллаштириш
Name[vi]=Trình quản lý Nhật ký hoạt động
Name[zh_CN]=活动日志管理器
Name[zh_HK]=活動記錄管理員
Name[zh_TW]=活動記錄管理員
GenericName=Activity Log Manager
GenericName[af]=Aktiwiteitslog Bestuurder
GenericName[ar]=مدير سجل النشاط
GenericName[ast]=Xestor del rexistru d'actividá
GenericName[az]=Aktivlik İzləri İdarəedicisi
GenericName[bg]=Мениджър на записа на дейностите
GenericName[bn]=কার্যকলাপ লগ ম্যানেজার
GenericName[bs]=Upravnik dnevnika aktivnosti
GenericName[ca]=Gestor de l'historial d'activitats
GenericName[ca@valencia]=Gestor de l'historial d'activitats
GenericName[cs]=Správce záznamu činností
GenericName[da]=Aktivitetsloghåndtering
GenericName[de]=Aktivitätsprotokollverwaltung
GenericName[el]=Διαχειριστής καταγραφών δραστηριοτήτων
GenericName[en_AU]=Activity Log Manager
GenericName[en_CA]=Activity Log Manager
GenericName[en_GB]=Activity Log Manager
GenericName[eo]=Mastrumilo de protokolo pri agado
GenericName[es]=Gestor del registro de actividad
GenericName[et]=Tegevuste logi haldur
GenericName[eu]=Jarduera-egunkariaren kudeatzailea
GenericName[fi]=Toimintalokien hallinta
GenericName[fr]=Gestionnaire de journal d'activité
GenericName[fr_CA]=Gestionnaire de journal d'activités
GenericName[gd]=Loga manaidsear na gnìomhachd
GenericName[gl]=Xestor de rexistro de actividade
GenericName[he]=מנהל יומן פעילות
GenericName[hi]=गतिविधि अभिलेख प्रबंधक
GenericName[hr]=Upravitelj zapisa aktivnosti
GenericName[hu]=Aktivitásnapló-kezelő
GenericName[id]=Pengelola Log Aktivitas
GenericName[it]=Gestore registro attività
GenericName[ja]=アクティビティログマネージャー
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​កំណត់​ហេតុ​សកម្មភាព
GenericName[ko]=활동 기록 관리자
GenericName[ku]=Midurê rojane ê çalak
GenericName[lt]=Veiklos žurnalo tvarkytuvė
GenericName[lv]=Darbību žurnāla pārvaldnieks
GenericName[ms]=Pengurus Log Aktiviti
GenericName[my]=ပြုလုပ်ချက် စာရင်း ထိန်းချုပ်မှု
GenericName[nb]=Aktivitetslogg-behandler
GenericName[nl]=Beheer van activiteitenlogboek
GenericName[oc]=Gestionari de jornal d'activitat
GenericName[pl]=Menedżer dziennika aktywności
GenericName[pt]=Gestor dos Registos de Actividade
GenericName[pt_BR]=Gerenciador de Registro de Atividade
GenericName[ro]=Administrator rapoarte activitate
GenericName[ru]=Диспетчер событий активности
GenericName[si]=කාර්ය ලඝු කළමනාකරු
GenericName[sk]=Správca záznamov o aktivite
GenericName[sl]=Upravljalnik dnevnika dejavnosti
GenericName[sq]=Menaxhuesi i Mesazheve të Veprimtarisë
GenericName[sr]=Управник дневника активности
GenericName[sv]=Hantera aktivitetslogg
GenericName[ta]=நடவடிக்கை பதிவு மேலாளர்
GenericName[te]=కార్యకలాప చిట్టా నిర్వాహకం
GenericName[tg]=Мудири сабти рӯйдодҳои фаъолият
GenericName[tr]=Etkinlik Günlüğü Yöneticisi
GenericName[ug]=مەشغۇلات خاتىرىسى باشقۇرغۇ
GenericName[uk]=Менеджер журналу активності
GenericName[uz]=Журнал бошқарувчисини фаоллаштириш
GenericName[vi]=Trình quản lý Nhật ký hoạt động
GenericName[zh_CN]=活动日志管理器
GenericName[zh_HK]=活動記錄管理員
GenericName[zh_TW]=活動記錄管理員
Comment=Configure what gets logged in your Zeitgeist activity log
Comment[af]=Kies was aangeteken word in u Zeitgeist aktiwiteitslog
Comment[ar]=اضبط ما يتم تسجيله في سجل نشاط Zeitgeist
Comment[ast]=Configura lo que queda nel to rexistru d'actividá de Zeitgeist
Comment[az]=Zeitgeist Aktivlik İzlərində nələrin əks olunacağını təyin et
Comment[bg]=Укажете, какво ще се записва в Zeitgeist дневника
Comment[bn]=Zeitgeist এ কার্যকলাপ লগের কনফিগিউর
Comment[bs]=Podesite šta će se bilježiti u vašem Zeitgeist dnevniku aktivnosti
Comment[ca]=Configureu que s'enregistra al registre d'activitats del Zeitgeist
Comment[ca@valencia]=Configureu que s'enregistra al registre d'activitats del Zeitgeist
Comment[cs]=Nastavení, co se bude zaznamenávat do vašeho záznamu činností Zeitgeist
Comment[da]=Indstil hvad som registreres i din Zeitgeist-aktivitetslog
Comment[de]=Legen Sie fest, was in Ihrem Zeitgeist-Aktivitätsprotokoll gespeichert wird
Comment[el]=Ρυθμίστε τί θα καταγράφεται στον διαχειριστή καταγραφών δραστηριοτήτων Zeitgeist
Comment[en_AU]=Configure what gets logged in your Zeitgeist activity log
Comment[en_CA]=Configure what gets logged in your Zeitgeist activity log
Comment[en_GB]=Configure what gets logged in your Zeitgeist activity log
Comment[eo]=Agordu, kio estas protokolita en viaj protokoloj de Zeitgeist pri agado
Comment[es]=Configure lo que queda en su registro de actividad de Zeitgeist
Comment[et]=Seadista, mida salvestatakse su Zeitgeisti tegevuste logisse
Comment[eu]=Konfiguratu zer grabatzen den Zeitgeist jarduera-egutegian
Comment[fi]=Muokkaa tapahtumia, joita Zeitgeist seuraa
Comment[fr]=Configurer ce qui sera consigné dans votre journal d'activité Zeitgeist
Comment[fr_CA]=Configurer ce qui est consigné dans votre journal d'activités Zeitgeist
Comment[gd]=Rèitich dè thèid a logadh san loga ghnìomhachd Zeitgeist agad
Comment[gl]=Configure o que se rexistra no rexistro de actividades de Zeitgeist
Comment[he]=הגדרה של מה שיירשום ביומן הפעילות שלך בצייטגייסט
Comment[hi]=ज़ाइट्गाइस्ट क्या दर्ज करता है उसे चुनें
Comment[hr]=Konfigurirajte što će se evidentirati u vašem dnevniku Zeitgeist aktivnosti
Comment[hu]=A Zeitgeist aktivitásnaplójának beállítása
Comment[id]=Atur apa yang akan dicatat pada log aktivitas Zeitgeist Anda
Comment[it]=Configura cosa viene salvato nel registro delle attività
Comment[ja]=アクティビティログに記録する内容を設定します
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ថា​អ្វី​ត្រូវ​បាន​ចុះ​កំណត់ហេតុ​នៅ​ក្នុង​កំណត់​ហេតុ​សកម្មភាព Zeitgeist របស់​អ្នក
Comment[ko]=Zeitgeit 활동 로그에 무엇을 기록할 지 설정합니다.
Comment[ku]=Avakirina rêketinên rojane ê çalak jibo zeitgeist
Comment[lt]=Nustatykite, kas yra įrašoma į jūsų Zeitgeist veiklos žurnalą
Comment[lv]=Konfigurēt, kas tiek ierakstīts Zeitgeist darbību žurnālā
Comment[ms]=Konfigur apa yang dilogkan didalam log aktiviti Zeitgeist anda
Comment[nb]=Velg hva som skal lagres i din Zeitgeist-aktivitetslogg
Comment[nl]=Stel in welke informatie er in uw Zeitgeist-activiteitenlogboek wordt opgeslagen
Comment[oc]=Configurar çò que serà consignat dins vòstre jornal d'activitat Zeitgeist
Comment[pl]=Konfiguruje zachowanie dziennika aktywności Zeitgeist
Comment[pt]=Configure o que é registado no seu registo de actividade do Zeitgeist
Comment[pt_BR]=Configura o que fica armazenado no registro de atividades do Zeitgeist
Comment[ro]=Configurați ce trebuie urmărit în rapoartele de activitate Zeitgeist
Comment[ru]=Укажите, что будет записываться в журнал Zeitgeist
Comment[sk]=Nastavte čo je zaznamenávané vo vašom zázname o aktivite Zeitgeist
Comment[sl]=Nastavite beleženja v dnevnik dejavnosti Zeitgeist
Comment[sq]=Konfiguro çfarë mbahet shënim në ditarin e veprimtarive Zeitgeist
Comment[sr]=Подесите шта ће бити записивано у вашем дневнику активности Цајтгајста
Comment[sv]=Konfigurera vad som loggas i din Zeitgeist-aktivitetslogg
Comment[ta]=உங்களின் ஸைஜெஸ்ட் நடவடிக்கை பதிவில் என்ன பதிவாகிறது என்பதைக் கட்டமைக்கவும்
Comment[tg]=Чизеро, ки дар сабти рӯйдодҳои Zeitgeist-и шумо сабт карда мешавад, конфигуратсия кунед
Comment[tr]=Zeitgeist etkinlik günlüğünüze girilenleri yapılandırın
Comment[ug]=Zeitgeist پائالىيەت خاتىرىسىدە قانداق مەزمۇننى خاتىرىلەيدىغانلىقنى بېكىتىش
Comment[uk]=Вкажіть дії, які слід записувати до вашого журналу дій Zeitgeist
Comment[vi]=Thiết lập những thứ được ghi chép trong nhật ký Zeitgeist
Comment[zh_CN]=配置在 Zeitgeist 活动日志中记录的内容
Comment[zh_HK]=設定要將什麼內容紀錄在 Zeitgeist 活動記錄
Comment[zh_TW]=設定要將什麼內容紀錄在 Zeitgeist 活動記錄中
X-Ubuntu-Software-Center-Name=Activities and Privacy Manager Tool
X-Ubuntu-Software-Center-Name[af]=Aktiwiteite en Privaatheidsbestuurder Gereedskap
X-Ubuntu-Software-Center-Name[ar]=الأنشطة وأداة إدارة الخصوصية
X-Ubuntu-Software-Center-Name[ast]=Ferramienta d'alministración d'actividaes ya privacidá
X-Ubuntu-Software-Center-Name[az]=Aktivlik və Məxfilik İdaeəetmə Aləti
X-Ubuntu-Software-Center-Name[bg]=Мениджър на дейностите и личните данни
X-Ubuntu-Software-Center-Name[bn]=কার্যকলাপ এবং ব্যাক্তিগত গোপনীয়তা ম্যানেজার টুল
X-Ubuntu-Software-Center-Name[bs]=Alat za upravljanje aktivnošću i privatnošću
X-Ubuntu-Software-Center-Name[ca]=Eina de gestió d'activitats i privadesa
X-Ubuntu-Software-Center-Name[ca@valencia]=Eina de gestió d'activitats i privadesa
X-Ubuntu-Software-Center-Name[cs]=Nástroje Správce soukromí a činností
X-Ubuntu-Software-Center-Name[da]=Værktøj til håndtering af aktiviteter og privatliv
X-Ubuntu-Software-Center-Name[de]=Aktivitäten und Privatsphärenmanager Werkzeug
X-Ubuntu-Software-Center-Name[el]=Εργαλείο διαχείρισης δραστηριοτήτων και ιδιωτικότητας
X-Ubuntu-Software-Center-Name[en_AU]=Activities and Privacy Manager Tool
X-Ubuntu-Software-Center-Name[en_CA]=Activities and Privacy Manager Tool
X-Ubuntu-Software-Center-Name[en_GB]=Activities and Privacy Manager Tool
X-Ubuntu-Software-Center-Name[eo]=Agadoj kaj mastrumilo de privateco
X-Ubuntu-Software-Center-Name[es]=Herramienta de gestión de actividades y privacidad
X-Ubuntu-Software-Center-Name[et]=Tegevuste ja privaatsuse haldustööriist
X-Ubuntu-Software-Center-Name[eu]=Jarduera eta pribatutasuna kudeatzeko tresna
X-Ubuntu-Software-Center-Name[fi]=Käyttötietojen ja yksityisyyden hallintatyökalu
X-Ubuntu-Software-Center-Name[fr]=Outil de gestion d'activité et de confidentialité
X-Ubuntu-Software-Center-Name[fr_CA]=Outil de gestion des activités et de confidentialité
X-Ubuntu-Software-Center-Name[gd]=Inneal manaidsear nan gnìomhachdan agus na prìobhaideachd
X-Ubuntu-Software-Center-Name[gl]=Ferramenta de xestión de actividade e privacidade
X-Ubuntu-Software-Center-Name[he]=כלי לניהול פרטיות ופעילויות
X-Ubuntu-Software-Center-Name[hi]=गोपनीयता तथा गतिविधि व्यवस्थापक
X-Ubuntu-Software-Center-Name[hr]=Upravitelj alata privatnosti i aktivnosti
X-Ubuntu-Software-Center-Name[hu]=Magánszféra- és aktivitáskezelő eszköz
X-Ubuntu-Software-Center-Name[id]=Perkakas Pengelola Privasi dan Aktivitas
X-Ubuntu-Software-Center-Name[it]=Strumento gestione attività e privacy
X-Ubuntu-Software-Center-Name[ja]=アクティビティとプライバシーマネージャーツール
X-Ubuntu-Software-Center-Name[km]=ឧបករណ៍​គ្រប់គ្រង​សកម្មភាព និង​ភាព​ឯកជន
X-Ubuntu-Software-Center-Name[ko]=활동 기록과 정책 관리 도구
X-Ubuntu-Software-Center-Name[ku]=Çalakî û nevbeynkarê rêvebir ê ewlehîyê
X-Ubuntu-Software-Center-Name[lt]=Veiklų ir privatumo tvarkytuvė
X-Ubuntu-Software-Center-Name[lv]=Darbības un privātuma pārvaldnieka rīks
X-Ubuntu-Software-Center-Name[ms]=Alat Mengurus Aktiviti dan Kerahsiaan
X-Ubuntu-Software-Center-Name[my]=အချက်အလက်နှင့်လုံခြုံရေး စီမံမှု ကိရိယာ
X-Ubuntu-Software-Center-Name[nb]=Aktivitets- og personvernshåndtering
X-Ubuntu-Software-Center-Name[nl]=Hulpmiddel voor het beheer van activiteitenlogboek- en privacyinstellingen
X-Ubuntu-Software-Center-Name[oc]=Aisina de gestion d'activitats e de confidencialitat
X-Ubuntu-Software-Center-Name[pl]=Narzędzie menedżera aktywności i prywatności
X-Ubuntu-Software-Center-Name[pt]=Ferramenta de Gestão de Actividades e Privacidade
X-Ubuntu-Software-Center-Name[pt_BR]=Ferramenta de Gerenciamento de Privacidade e Atividades
X-Ubuntu-Software-Center-Name[ro]=Utilitar pentru administrare activități și confidențialitate
X-Ubuntu-Software-Center-Name[ru]=Утилита управления активностью и конфиденциальностью
X-Ubuntu-Software-Center-Name[si]=කාර්ය සහ පුද්ගලිකත්ව කළමනාකරණ මෙවලම
X-Ubuntu-Software-Center-Name[sk]=Nástroj na správu aktivity a súkromia
X-Ubuntu-Software-Center-Name[sl]=Upravljalnik dejavnosti in zasebnosti
X-Ubuntu-Software-Center-Name[sq]=Mjeti i Veprimtarive dhe Menaxhues i Intimitetit
X-Ubuntu-Software-Center-Name[sr]=Алат за управљање активношћу и приватношћу
X-Ubuntu-Software-Center-Name[sv]=Integritets- och Sekretessverktyg
X-Ubuntu-Software-Center-Name[ta]=நடவடிக்கை மற்றும் தனியுரிமை மேலாளர் கருவி
X-Ubuntu-Software-Center-Name[te]=కార్యకలాపాలు మరియు గోప్యత నిర్వాహక పనిముట్టు
X-Ubuntu-Software-Center-Name[tg]=Абзори фаъолиятҳо ва мудири махфият
X-Ubuntu-Software-Center-Name[tr]=Etkinlik ve Gizlilik Yöneticisi Aracı
X-Ubuntu-Software-Center-Name[ug]=مەشغۇلات ۋە شەخسىيەت باشقۇرۇش قورالى
X-Ubuntu-Software-Center-Name[uk]=Дії та інструмент керування конфіденційними даними
X-Ubuntu-Software-Center-Name[uz]=Фаолликлар ва шахсий бошқариш воситаси
X-Ubuntu-Software-Center-Name[vi]=Công cụ quản lý Hoạt động và Quyền riêng tư
X-Ubuntu-Software-Center-Name[zh_CN]=活动与隐私管理工具
X-Ubuntu-Software-Center-Name[zh_HK]=活動與私隱管理員工具
X-Ubuntu-Software-Center-Name[zh_TW]=活動及隱私管理員工具
Type=Application
Exec=activity-log-manager
Icon=activity-log-manager
Categories=GNOME;GTK;Utility;
NotShowIn=Unity;
NoDisplay=true
