[Desktop Entry]
Name=LightDM GTK+ Greeter settings
Name[ar]=إعدادات ترحيب LightDM GTK+
Name[de]=LightDM-GTK+Anmeldebildschirm - Einstellungen
Name[es]=Configuración de la interfaz GTK+ de LightDM
Name[fi]=LightDM GTK+ -kirjautumisen asetukset
Name[fr]=LightDM GTK+ Paramètres d'Apparence
Name[ja]=LightDM GTK+ Greeter の設定
Name[lt]=LightDM GTK+ Sveikintojo nustatymai
Name[pl]=Ustawienia LightDM GTK+ Greeter
Name[pt]=Configurações do saudador LightDM GTK+
Name[pt_BR]=Configurações do LightDM GTK+ Greeter
Name[ru]=Настройки LightDM GTK+ Greeter
Name[sr]=Поставке програма LightDM GTK+ Greeter
Comment=Configure LightDM GTK+ Greeter
Comment[ar]=ضبط ترحيب Lightdm GTK+
Comment[de]=LightDM-GTK+Anmeldebildschirm konfigurieren
Comment[es]=Configura la pantalla de bienvenida LightDM GTK+
Comment[fi]=Mukauta LightDM GTK+ -kirjautumisen asetuksia
Comment[fr]=Configurer LightDM GTK+ Greeter
Comment[ja]=LightDM GTK+ Greeter の設定をします
Comment[lt]=Konfigūruoti LightDM GTK+ Sveikintoją
Comment[pl]=Skonfiguruj LightDM GTK+ Greeter
Comment[pt]=Configurar o saudador LightDM GTK+
Comment[pt_BR]=Configure o LightDM GTK+ Greeter
Comment[ru]=Настройка LightDM GTK+ Greeter
Categories=GNOME;GTK;Settings;System;Utility;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=Configuration;Utility;
Exec=lightdm-gtk-greeter-settings-pkexec
Icon=lightdm-gtk-greeter-settings
Terminal=false
Type=Application
NoDisplay=true
