[Desktop Entry]
Type=Application
Name=Logout
Name[de]=Abmelden
Name[es]=Cerrar sesión
Name[fi]=Kirjaudu ulos
Name[pt]=Terminar sessão
Name[pt_BR]=Desligar
Name[ru]=Выход
Name[tr]=Oturumu kapat
Name[uk]=Вихід
Name[zh_TW]=登出
Comment=Logout, shutdown or reboot
Comment[de]=Abmelden, herunterfahren oder neu starten
Comment[es]=Cerrar sesión, apagar o reiniciar
Comment[fi]=Kirjaudu ulos, sammuta tai käynnistä tietokone uudelleen
Comment[pt]=Terminar sessão, desligar ou reiniciar
Comment[pt_BR]=Desligar, reiniciar, sair da sessão etc.
Comment[ru]=Выйти, выключить или перезапустить
Comment[tr]=Oturumu kapat, bilgisayarı kapat veya yeniden başlat
Comment[uk]=Вийти, вимкнути або перезавантажити
Comment[zh_TW]=登出、關機、或重新開機
Icon=gnome-logout
Exec=lxde-logout
NoDisplay=false
