[Desktop Entry]
Type=Application
Name=LXMusic simple music player
GenericName=Music Player
GenericName[af]=Musiekspeler
GenericName[ar]=مشغّل موسيقى
GenericName[be]=Музычны плэер
GenericName[bg]=Музикален Плейър
GenericName[bn]=মিউজিক প্লেয়ার
GenericName[bn_IN]=মিউজিক প্লেয়ার
GenericName[ca]=Reproductor musical
GenericName[cs]=Přehrávač hudby
GenericName[da]=Musikafspiller
GenericName[de]=Medien-Abspieler
GenericName[el]=Αναπαραγωγέας Μουσικής
GenericName[en_GB]=Music Player
GenericName[es]=Reproductor de música
GenericName[et]=Muusikaesitaja
GenericName[eu]=Musika erreproduzitzailea
GenericName[fa]=پخش کننده آهنگ
GenericName[fi]=Musiikkisoitin
GenericName[fo]=Tónleika avspælari
GenericName[fr]=Lecteur de musique
GenericName[gl]=Reprodutor de música
GenericName[he]=נגן מוזיקה
GenericName[hr]=Svirač glazbe
GenericName[hu]=Zenelejátszó
GenericName[id]=Pemutar Musik
GenericName[it]=Riproduttore musicale
GenericName[ja]=音楽プレーヤ
GenericName[kk]=Музыка ойнатушысы
GenericName[ko]=음악 재생기
GenericName[lg]=Puloguramu esitula nyimba mu fayiro
GenericName[lt]=Muzikos grotuvas
GenericName[nb]=Musikkspiller
GenericName[nl]=Muziekspeler
GenericName[nn]=Musikkspelar
GenericName[pl]=Odtwarzacz muzyczny
GenericName[pt]=Reprodutor de música
GenericName[pt_BR]=Reprodutor de músicas
GenericName[ro]=Player audio
GenericName[ru]=Музыкальный плейер
GenericName[sk]=Prehrávač hudby
GenericName[sl]=Predvajalnik glasbe
GenericName[sr]=Звуковник
GenericName[sr@latin]=Zvukovnik
GenericName[sv]=Musikspelare
GenericName[te]=సంగీత ప్లేయర్
GenericName[tr]=Müzik Çalar
GenericName[tt_RU]=Музыка уйнатучысы
GenericName[ug]=مۇزىكا قويغۇ
GenericName[uk]=Програвач музики
GenericName[vi]=Chương trình chơi Nhạc
GenericName[zh_CN]=音乐播放器
GenericName[zh_TW]=音樂播放程式
Comment=Play your music files easily
Comment[af]=Speel musieklêers met gemak
Comment[ar]=يشغّل ملفاتك الموسيقية بسهولة
Comment[be]=Слухайце сваю музыку лёгка
Comment[bg]=Изпълявай музиката по-бавно
Comment[bn]=সহজে আপনার মিউজিক ফাইল বাজান
Comment[bn_IN]=আপনার মিউজিক ফাইলগুলি সহজে শুনুন
Comment[ca]=Escolteu la vostra música de manera simple
Comment[cs]=Přehrávejte hudbu jednoduše
Comment[da]=Enkel musikafspilning
Comment[de]=Musikdateien einfach wiedergeben
Comment[el]=Εύκολη αναπαραγωγή της μουσικής σας
Comment[en_GB]=Play your music files easily
Comment[es]=Reproduzca fácilmente sus archivos de música
Comment[et]=Muusikafailide mugav kuulamine
Comment[eu]=Erreproduzitu zure musika-fitxategiak modu errazean
Comment[fa]=پخش آسان پرونده‌های آهنگ شما
Comment[fi]=Soita musiikkiasi helposti
Comment[fo]=Avspæl tónleik tín lættliga
Comment[fr]=Lit vos fichiers de musique intuitivement
Comment[gl]=Reproduza a súa música doadamente
Comment[he]=השמעת קובצי המוזיקה שלך בקלות
Comment[hr]=Svirajte lako svoje glazbene datoteke
Comment[hu]=Játszd le zenefájljaid kényelmesen
Comment[id]=Putar musik kamu dengan mudah
Comment[it]=Riproduci facilmente i tuoi file musicali
Comment[ja]=簡単に音楽を再生できます
Comment[kk]=Музыка файлдарыңызды жеңіл ойнату
Comment[ko]=음악 파일을 쉽게 재생합니다
Comment[lg]=Ekinaakwanguyiriza okuwuliriza fayiro zo ez'enyimba
Comment[lt]=Klausykitės savo muzikos paprastai
Comment[nb]=Spill musikkfiler
Comment[nl]=Speel uw muziek af met gemak
Comment[nn]=Spel musikkfiler
Comment[pl]=Odtwarza nagrania dźwiękowe przy prostocie obsługi
Comment[pt]=Reprodução de faixas áudio
Comment[pt_BR]=Reproduza seus arquivos de música facilmente
Comment[ro]=Ascultați-vă facil muzica stocată
Comment[ru]=Проигрывай свою музыку играючи
Comment[sk]=Jednoduché prehrávanie hudobných súborov
Comment[sl]=Predvajajte svojo glasbo
Comment[sr]=Слушајте и организујте ваше песме
Comment[sr@latin]=Slušajte i organizujte vaše pesme
Comment[sv]=Spela din musik enkelt
Comment[te]=మీ సంగీత ఫైళ్ళను సులువుగా ప్లేచేయండి
Comment[tr]=Müzik dosyalarınızı kolayca çalın
Comment[tt_RU]=Яраткан җырларыгызны җиңел итеп тыңлагыз
Comment[ug]=مۇزىكا ھۆججەتلىرىنى ئاسانلا قويغىلى بولىدۇ
Comment[uk]=Програє музичні файли
Comment[vi]=Phát tập tin âm nhạc của bạn một cách dễ dàng
Comment[zh_CN]=轻松播放您的音乐文件
Comment[zh_TW]=簡易播放音樂檔案
Categories=AudioVideo;Audio;Player;GTK;
Icon=lxmusic
Exec=lxmusic
Terminal=false
StartupNotify=true
NoDisplay=true
