[Desktop Entry]
Type=Application
Name=Help
Name[ar]=مساعدة
Name[cs]=Nápověda
Name[da]=Hjælp
Name[de]=Hilfe
Name[fr]=Aide
Name[hu]=Súgó
Name[id]=Bantuan
Name[it]=Aiuto
Name[ja]=ヘルプ
Name[ko]=도움말
Name[ms]=Bantuan
Name[nl]=Hulp
Name[pt]=Ajuda
Name[pt_BR]=Ajuda
Name[ru]=Справка
Name[tr]=Yardım
Name[uk]=Довідка
Name[zh_CN]=帮助
Comment=Get help with MATE
Comment[ar]=أحصل على مساعدة مع متّة
Comment[cs]=Získat nápovědu pro MATE
Comment[da]=Få hjælp til MATE
Comment[de]=Hilfe für MATE erhalten
Comment[fr]=Obtenir de l'aide sur MATE
Comment[hu]=Segítség kérése a MATE-hez
Comment[id]=Dapatkan bantuan dengan MATE
Comment[it]=Ottieni aiuto con MATE
Comment[ja]=MATE のヘルプを取得
Comment[ko]=MATE 도움말 사용하기
Comment[ms]=Dapatkan bantuan dengan MATE
Comment[nl]=Hulp voor MATE krijgen
Comment[pt]=Obter ajuda no MATE
Comment[pt_BR]=Obter ajuda com o MATE
Comment[ru]=Получить справку по MATE
Comment[tr]=MATE hakkında yardım al
Comment[uk]=Отримати довідку по MATE
Comment[zh_CN]=获取 MATE 帮助
Keywords=documentation;information;manual;
Icon=help
Exec=yelp help:mate-user-guide
StartupNotify=true
Terminal=false
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-desktop
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.10.2
Categories=GTK;Core;Documentation;
OnlyShowIn=MATE;
NoDisplay=true
