[Desktop Entry]
Type=Application
Categories=Utility;
Name=Screenlets
Name[de]=Screenlets
Name[et]=Töölauavidinad
Comment=A graphical tool to manage your Screenlets.
Comment[de]=Ein grafisches Werkzeug, um Ihre Screenlets zu verwalten.
Comment[et]=Graafiline tööriist Screenlets töölauavidinate haldamiseks
Icon=screenlets
Exec=screenlets-manager > /dev/null
StartupNotify=true
NoDisplay=true
