[Desktop Entry]
Name=CompizConfig Settings Manager
Name[ar]=مدير إعدادات CompizConfig
Name[bn]=কমপিজ কনফিগ ব্যবস্থাপক
Name[bn_IN]=কমপিজ কনফিগ ব্যবস্থাপক
Name[ca]=Editor de la configuració de Compiz
Name[cs]=Manažer nastavení Compizu
Name[de]=CompizConfig Einstellungs-Manager
Name[el]=Διαχειριστής Ρυθμίσεων του Compiz
Name[en_GB]=CompizConfig Settings Manager
Name[es]=Administrador de Opciones CompizConfig
Name[fi]=Compiz-asetusten hallinta
Name[fr]=Gestionnaire de Configuration CompizConfig
Name[gl]=Administrador de Configuracións CompizConfig
Name[gu]=CompizConfig સુયોજનો વ્યવસ્થાપક
Name[he]=מנהל הגדרות CompizConfig
Name[hi]=CompizConfig जमावट प्रबंधक
Name[hu]=CompizConfig beállításkezelő
Name[id]=CompizConfig Settings Manager
Name[it]=Gestore configurazione CompizConfig
Name[ja]=CompizConfig 設定マネージャ
Name[ko]=컴피즈 설정 관리자
Name[mnk]=CompizConfig compiz -la tillĩdirão leti
Name[nb]=CompizConfig Innstillingshåndterer
Name[nl]=CompizConfig Instellingen Beheerder
Name[or]=କମ୍ପିଜକନଫିଗ ସେଟିଙ୍ଗ ପ୍ରବନ୍ଧକ
Name[pa]=CompizConfig ਸੈਟਿੰਗ ਮੈਨੇਜਰ
Name[pl]=Menedżer ustawień CompizConfig
Name[pt]=Sistema de Configuração do Compiz
Name[pt_BR]=Gerenciador de configurações do CompizConfig
Name[ru]=Менеджер настройки CompizConfig
Name[sk]=Správca nastavení CompizConfig
Name[sv]=Inställningshanteraren CompizConfig
Name[tr]=CompizConfig Ayar Yöneticisi
Name[wo]=Tannay u  CompizConfig
Name[zh_CN]=CompizConfig设置管理器
Comment=Configure Compiz with CompizConfig
Comment[ar]=شكّل Compiz بواسطة CompizConfig
Comment[ca]=Configura Compiz amb CompizConfig
Comment[de]=Konfiguration von Compiz mit CompizConfig
Comment[el]=Ρύθμιση του Compiz με το CompizConfig
Comment[en_GB]=Configure Compiz with CompizConfig
Comment[es]=Configurar Compiz con CompizConfig
Comment[fi]=Compiz-asetusten tekeminen CompizConfigilla
Comment[fr]=Configurer Compiz avec CompizConfig
Comment[gl]=Configurar Compiz con CompizConfig
Comment[he]=ערוך את תצורת קומפיז בעזרת CompizConfig
Comment[hu]=Compiz beállítása a CompizCOnfig programmal
Comment[id]=Atur Compiz dengan CompizConfig
Comment[it]=Configura Compiz attraverso CompizConfig
Comment[ja]=CompizConfig で Compiz を設定します
Comment[ko]=CompizConfig으로 Compiz 설정
Comment[nl]=Beheer Compiz in met CompizConfig
Comment[pl]=Konfiguruj Compiz przy pomocy Menadżera Ustawień CompizConfig
Comment[pt]=Configurar Compiz com CompizConfig
Comment[pt_BR]=Configurar o Compiz com o CompizConfig
Comment[ru]=Настройка Compiz с помощью CompizConfig
Comment[sk]=Nastav Compiz s pomocou CompizConfig
Comment[sv]=Konfigurera Compiz med CompizConfig
Comment[tr]=Compiz'i, CompizConfig ile yapılandır
Comment[zh_CN]=使用CompizConfig对Compiz进行配置
Icon=ccsm
Exec=ccsm
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
StartupNotify=true
